<!DOCTYPE.html>
<html>
  <head>
    <title></title>
    <style> </style>
  </head>
  <body>
    <section class="movies">
    <table>
      <tr>
        <th><a href="/movies?sort_by=movies">Movies</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Genre</th>
        <th>Studio</th>
      </tr>
      <% @results.each do |movie| %>
        <tr>
          <td>
            <a href="/movies/<%=movie["id"]%>"> <%= movie["title"] %></a>
          </td>
          <td>
            <%= movie["year"] %>
          </td>
          <td>
            <%= movie["rating"] %>
          </td>
          <td>
            <%= movie["genre"] %>
          </td>
          <td>
            <%= movie["studio"] %>
          </td>
        </tr>
      <% end %>


    </table>
    </section>
  </body>
