<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/foundation.css">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
          <li><a href="/movies" class="button">Movies</a></li>
          <li><a href="/actors" class="button">Actors </a></li>
          </ul>
        </div>
        <h1>Movie Catalogue Deluxe!<small>  Search by movies or actors</small></h1>
        <hr/>
      </div>
    </div>
    <div class="search">
      <form action='/movies?' method='GET'>
        <input type='Text' name='search_query' size='30' placeholder='' >
        <button type='submit'>Search by movie</button>
      </form>

    </div>
    <div class="search">
      <form action='/actors/search/' method='GET'>
        <input type='Text' name='search_query' size='30' placeholder='' >
        <button type='submit'>Search by actor</button>
      </form>

    </div>
    <section class="movies">
    <table>
      <tr>
        <th><a href="/movies?sort_by=movies">Movies</a></th>
        <th><a href="/movies?sort_by=year">Year</a></th>
        <th><a href="/movies?sort_by=rating">Rating</a></th>
        <th><a href="/movies?sort_by=genre">Genre</a></th>
        <th><a href="/movies?sort_by=studio">Studio</a></th>
      </tr>
      <% @results.each do |movie| %>
        <tr>
          <td>
            <a href="/movies/<%=movie["id"]%>"> <%= movie["title"] %></a>
          </td>
          <td>
            <%= movie["year"] %>
          </td>
          <td>
            <%= movie["rating"] %>
          </td>
          <td>
            <%= movie["genre"] %>
          </td>
          <td>
            <%= movie["studio"] %>
          </td>
        </tr>
      <% end %>


    </table>
    </section>
  </body>
